name: Cloud test with Java client

on:
  workflow_dispatch:
    inputs:
      java_client_version:
        description: Java client version without SNAPSHOT suffix
        required: true
      base_url:
        description: Base url of the cloud env. I.e https://api.dev.viridian.hazelcast.cloud
        required: true
        default: https://api.dev.viridian.hazelcast.cloud
      hzVersion:
        description: Version of hazelcast
        required: true

jobs:
  test_cloud_java:
    runs-on: ubuntu-latest
    name: Cloud tests with Java
    steps:
      - name: Checkout to scripts
        uses: actions/checkout@v4

      - name: Read Java Config
        run: cat ${GITHUB_WORKSPACE}/.github/java-config.env >> $GITHUB_ENV

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          
      - name: Run cloud tests for Viridian
        env:
          BASE_URL: ${{ github.event.inputs.base_url }}
          API_KEY: ${{ secrets.APIKEY_VIRIDIAN }}
          API_SECRET: ${{ secrets.APISECRET_VIRIDIAN }}
          HZ_VERSION: ${{ github.event.inputs.hzVersion }}
        run: |
          mvn clean test "-Dhazelcast-version=${{ github.event.inputs.java_client_version }}" --batch-mode --no-transfer-progress
        working-directory: HazelcastCloudTests/javahazelcastcloudtests
