name: Cloud test with go client

on:
  workflow_dispatch:
    inputs:
      organization_name:
        description: Default is hazelcast, but if you would like to run the workflow with your forked repo, set your github username
        required: true
        default: hazelcast
      branch_name:
        description: Name of the branch to test client from
        required: true
        default: master
      base_url:
        description: Base url of the cloud env. I.e https://api.dev.viridian.hazelcast.cloud
        required: true
        default: https://api.dev.viridian.hazelcast.cloud
      hzVersion:
        description: Version of hazelcast
        required: true

jobs:
  test_cloud_go:
    runs-on: ubuntu-latest
    name: Cloud tests with go
    steps:
      - name: Checkout to scripts
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Read Java Config
        run: cat ${GITHUB_WORKSPACE}/.github/java-config.env >> $GITHUB_ENV
  
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          cache: 'maven'

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '^1.18.7'

      - name: Change go.mod file depended branch name and go mod tidy
        run: |
          cd HazelcastCloudTests/gohazelcastcloudtests
          sed -i "s/<InputBranchName>/${{ github.event.inputs.branch_name }}/g" go.mod
          go mod tidy

      - name: Start RC for Viridian
        env:
          BASE_URL: ${{ github.event.inputs.base_url }}
          API_KEY: ${{ secrets.APIKEY_VIRIDIAN }}
          API_SECRET: ${{ secrets.APISECRET_VIRIDIAN }}
        run: |
          python start_remote_controller.py --use-simple-server &> rc.log &
          sleep 30

      - name: Run cloud tests
        env:
          BASE_URL: ${{ github.event.inputs.base_url }}
          HZ_VERSION: ${{ github.event.inputs.hzVersion }}
          HZ_CLOUD_COORDINATOR_BASE_URL: ${{ github.event.inputs.base_url }}
        run: |
          go test -timeout 2000s -v
        working-directory: HazelcastCloudTests/gohazelcastcloudtests

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: rc
          path: rc.log
