name: Cloud test with .NET client

on:
  workflow_dispatch:
    inputs:
      organization_name:
        description: Default is hazelcast, but if you would like to run the workflow with your forked repo, set your github username
        required: true
        default: hazelcast
      branch_name:
        description: Name of the client branch to test
        required: true
        default: master
      base_url:
        description: Base url of the cloud env. i.e. https://api.dev.viridian.hazelcast.cloud
        required: true
        default: https://api.dev.viridian.hazelcast.cloud
      hzVersion:
        description: Hazelcast cluster version
        required: true

jobs:
  test_cloud_csharp:
    runs-on: ubuntu-latest
    name: Cloud tests with .NET
    steps:
      - name: Checkout scripts
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.9

      - name: Read Java Config
        run: cat ${GITHUB_WORKSPACE}/.github/java-config.env >> $GITHUB_ENV

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}

      - name: Install .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            3.1.x
            5.0.x
            6.0.x
            7.0.x
            8.0.x
            9.0.x
            10.0.x

      - name: Checkout .NET client branch ${{ github.event.inputs.branch_name }}
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.inputs.organization_name }}/hazelcast-csharp-client
          path: client
          ref: ${{ github.event.inputs.branch_name }}
          submodules: true

      - name: Build
        shell: pwsh
        run: ./hz.ps1 -localRestore build
        working-directory: client

      - name: Start RC for Viridian
        env:
          BASE_URL: ${{ github.event.inputs.base_url }}
          API_KEY: ${{ secrets.APIKEY_VIRIDIAN }}
          API_SECRET: ${{ secrets.APISECRET_VIRIDIAN }}
        run: |
          python start_remote_controller.py --use-simple-server &> rc.log &
          sleep 30
        working-directory: HazelcastCloudTests/dotnethazelcastcloudtests
       
      - uses: ./.github/actions/get-enterprise-license
        id: get-enterprise-license
        with:
          hazelcast-version: ${{ github.event.inputs.hzVersion }}

      - name: Run cloud tests
        shell: pwsh
        env:
          BASE_URL: ${{ github.event.inputs.base_url }}
          API_KEY: ${{ secrets.APIKEY_VIRIDIAN }}
          API_SECRET: ${{ secrets.APISECRET_VIRIDIAN }}
          HZ_VERSION: ${{ github.event.inputs.hzVersion }}
          HZ_CLOUD_COORDINATOR_BASE_URL: ${{ github.event.inputs.base_url }}
          HAZELCAST_SERVER_VERSION: ${{ github.event.inputs.hzVersion }}
          HAZELCAST_ENTERPRISE_KEY: ${{ secrets[steps.get-enterprise-license.outputs.HAZELCAST_ENTERPRISE_KEY_SECRET] }}
        run: |
          ./hz.ps1 -server ${{ github.event.inputs.hzVersion }} test -tf "test == /Hazelcast.Tests.Cloud.ServerlessCloudTests/" -enterprise ${{ secrets.GH_PAT }}
        working-directory: client

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: rc
          path: HazelcastCloudTests/dotnethazelcastcloudtests/rc.log

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: client/temp/tests/results/*.trx
