name: Test Go client against the released IMDG servers

on:
  workflow_dispatch:
    inputs:
      organization_name:
        description: Default is hazelcast, but if you would like to run the workflow with your forked repo, set your github username
        required: true
        default: hazelcast
      branch_name:
        description: Name of the branch to test client from
        required: true
        default: master
jobs:
  setup_server_matrix:
    name: Setup the server test matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Checkout to scripts
        uses: actions/checkout@v4
        
      - name: Set server matrix
        id: set-matrix
        run: echo "::set-output name=matrix::$( python get_server_matrix.py )"
        
  test_client:
    needs: [setup_server_matrix]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJson(needs.setup_server_matrix.outputs.matrix) }}
        
    name: Test Go client against enterprise ${{ matrix.version }} server on ubuntu-latest
    steps:
      - name: Checkout to scripts
        uses: actions/checkout@v4

      - name: Read Java Config
        run: cat ${{ github.workspace }}/.github/java-config.env >> $GITHUB_ENV

      - name: Setup Java
        run: |
          sudo apt-get update && sudo apt-get install -y openjdk-17-jdk-headless maven

      - uses: actions/setup-go@v2
        with:
          go-version: '1.18'

      - name: Checkout to test artifacts
        uses: actions/checkout@v4
        with:
          repository: hazelcast/private-test-artifacts
          path: certs
          ref: data
          token: ${{ secrets.GH_PAT }}

      - name: Checkout the ${{ github.event.inputs.branch_name }}     
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.inputs.organization_name }}/hazelcast-go-client
          path: client
          ref: ${{ github.event.inputs.branch_name }}

      - name: Copy certificates JAR to destination with the appropriate name
        run: |
          cp $GITHUB_WORKSPACE/certs/certs.jar $GITHUB_WORKSPACE/client/hazelcast-enterprise-${{ matrix.version }}-tests.jar

      - name: Test
        env:
          HAZELCAST_ENTERPRISE_KEY: ${{ secrets.HAZELCAST_ENTERPRISE_KEY }}
          HZ_VERSION: ${{ matrix.version }}
          SSL_ENABLED: 1
        run: |
          ./rc.sh start
          make test-all
        working-directory: client
