name: Test Node.js client against the released IMDG servers

on:
  workflow_dispatch:
    inputs:
      organization_name:
        description: Default is hazelcast, but if you would like to run the workflow with your forked repo, set your github username
        required: true
        default: hazelcast
      branch_name:
        description: Name of the branch to test client from
        required: true
        default: master

jobs:
  setup_server_matrix:
    name: Setup the server test matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.9

      - name: Checkout to scripts
        uses: actions/checkout@v6

      - name: Set server matrix
        id: set-matrix
        run: echo "matrix=$( python get_server_matrix.py )" >> ${GITHUB_OUTPUT}

  test_client:
    needs: [setup_server_matrix]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJson(needs.setup_server_matrix.outputs.matrix) }}
        kind: [os, enterprise]
    name: Test Node.js client against ${{ matrix.kind }} ${{ matrix.version }} server
    steps:
      - name: Checkout to scripts
        uses: actions/checkout@v6

      - name: Checkout to test artifacts
        if: ${{ matrix.kind == 'enterprise' }}
        uses: actions/checkout@v6
        with:
          repository: hazelcast/private-test-artifacts
          path: certs
          ref: data
          token: ${{ secrets.GH_PAT }}

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 20

      - name: Read Java Config
        run: cat ${GITHUB_WORKSPACE}/.github/java-config.env >> $GITHUB_ENV

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}

      - name: Checkout to master
        uses: actions/checkout@v6
        with:
          repository: ${{ github.event.inputs.organization_name }}/hazelcast-nodejs-client
          path: master
          ref: master

      - name: Checkout to ${{ github.event.inputs.branch_name }}
        uses: actions/checkout@v6
        with:
          repository: ${{ github.event.inputs.organization_name }}/hazelcast-nodejs-client
          path: client
          ref: ${{ github.event.inputs.branch_name }}

      - name: Copy certificates JAR to destination with the appropriate name
        if: ${{ matrix.kind == 'enterprise' }}
        run: |
          cp $GITHUB_WORKSPACE/certs/certs.jar $GITHUB_WORKSPACE/hazelcast-enterprise-${{ matrix.version }}-tests.jar
          unzip -p $GITHUB_WORKSPACE/certs/certs.jar com/hazelcast/nio/ssl/letsencrypt.jks > $GITHUB_WORKSPACE/master/test/integration/backward_compatible/parallel/ssl/keystore.jks

      - name: Install dependencies and compile client
        run: |
          npm install
          npm run compile
        working-directory: client

      - name: Install test dependencies
        run: |
          npm install
        working-directory: master

      - name: Copy client code into master
        run: |
          rm -rf $GITHUB_WORKSPACE/master/lib
          rm $GITHUB_WORKSPACE/master/package.json
          cp -a $GITHUB_WORKSPACE/client/lib $GITHUB_WORKSPACE/master/lib
          cp -a $GITHUB_WORKSPACE/client/package.json $GITHUB_WORKSPACE/master/package.json

      - uses: ./.github/actions/get-enterprise-license
        id: get-enterprise-license
        with:
          hazelcast-version: ${{ matrix.version }}

      - name: Download RCD
        shell: bash
        run: |
          wget -q https://client-rcd-download.s3.us-east-2.amazonaws.com/rcd-ubuntu-latest

      - name: Run all tests
        env:
          HZ_VERSION: ${{ matrix.version }}
          HAZELCAST_ENTERPRISE_KEY: ${{ secrets[steps.get-enterprise-license.outputs.HAZELCAST_ENTERPRISE_KEY_SECRET] }}
        working-directory: master
        run: |
          if [ "${{ matrix.kind }}" = "os" ]; then
            unset HAZELCAST_ENTERPRISE_KEY
          fi
          cd $GITHUB_WORKSPACE && chmod +x ./rcd-ubuntu-latest && ./rcd-ubuntu-latest -version $HZ_VERSION -no-simple-server &
          # wait for a bit for RCD to download artifacts
          sleep 10
          node node_modules/mocha/bin/mocha --recursive test/integration/backward_compatible
