name: Test Node.js client against the released IMDG servers

on:
  workflow_dispatch:
    inputs:
      branch_name:
        description: Name of the branch to test client from
        required: true
        default: master

jobs:
  setup_server_matrix:
    name: Setup the server test matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Checkout to scripts
        uses: actions/checkout@v2
      - name: Set server matrix
        id: set-matrix
        run: echo "::set-output name=matrix::$( python get_server_matrix.py )"
  test_client:
    needs: [setup_server_matrix]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJson(needs.setup_server_matrix.outputs.matrix) }}
        kind: [os, enterprise]
    name: Test Node.js client against ${{ matrix.kind }} ${{ matrix.version }} server
    steps:
      - name: Checkout to scripts
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Download JARs
        run: python download_server_jars.py --version ${{ matrix.version }} --server-kind ${{ matrix.kind }} --dst jars
      - name: Checkout to master
        uses: actions/checkout@v2
        with:
          repository: srknzl/hazelcast-nodejs-client
          path: master
          ref: master
      - name: Checkout to ${{ github.event.inputs.branch_name }}
        uses: actions/checkout@v2
        with:
          repository: hazelcast/hazelcast-nodejs-client
          path: client
          ref: ${{ github.event.inputs.branch_name }}
      - name: Install dependencies
        run: npm install
        working-directory: client
      - name: Download and prepare the release pack
        run: |
            node scripts/download-release-candidate.js -b ${{ github.event.inputs.branch_name }} -u github_actions -p $GH_PAT -o release-candidate.zip
            unzip release-candidate.zip
            sha256sum --check release-pack.sha256
            tar xvzf hazelcast-client-*.tgz
            rm -rf lib
            mv package/lib .
        env:
          GH_PAT: ${{ secrets.GITHUB_TOKEN }}
        working-directory: client
      - name: Install test dependencies
        run: |
          npm install
        working-directory: master
      - name: Copy client code into master
        run: |
          rm -rf $GITHUB_WORKSPACE/master/lib
          rm $GITHUB_WORKSPACE/master/package.json
          cp -a $GITHUB_WORKSPACE/client/lib $GITHUB_WORKSPACE/master/lib
          cp -a $GITHUB_WORKSPACE/client/package.json $GITHUB_WORKSPACE/master/package.json
      - name: Start RC
        env:
          HAZELCAST_ENTERPRISE_KEY: ${{ secrets.HAZELCAST_ENTERPRISE_KEY }}
        run: python start_rc.py --rc-version '0.8-SNAPSHOT' --jars jars --server-kind ${{ matrix.kind }} --use-simple-server
      - name: Run non-enterprise tests
        if: ${{ matrix.kind == 'os' }}
        run: node node_modules/mocha/bin/mocha --recursive test
        working-directory: master
      - name: Run all tests
        if: ${{ matrix.kind == 'enterprise' }}
        run: node node_modules/mocha/bin/mocha --recursive test/
        working-directory: master
        env:
          HAZELCAST_ENTERPRISE_KEY: ${{ secrets.HAZELCAST_ENTERPRISE_KEY }}
