name: Test Python client against the released IMDG servers

on:
  workflow_dispatch:
    inputs:
      organization_name:
        description: Default is hazelcast, but if you would like to run the workflow with your forked repo, set your github username
        required: true
        default: hazelcast
      branch_name:
        description: Name of the branch to test client from
        required: true
        default: master

jobs:
  setup_server_matrix:
    name: Setup the server test matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Checkout to scripts
        uses: actions/checkout@v4
      - name: Set server matrix
        id: set-matrix
        run: echo "matrix=$( python get_server_matrix.py )" >> ${GITHUB_OUTPUT}
  test_client:
    needs: [setup_server_matrix]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJson(needs.setup_server_matrix.outputs.matrix) }}
        kind: [os, enterprise]
    name: Test Python client against ${{ matrix.kind }} ${{ matrix.version }} server
    steps:
      - name: Checkout to scripts
        uses: actions/checkout@v4

      - name: Checkout to test artifacts
        if: ${{ matrix.kind == 'enterprise' }}
        uses: actions/checkout@v4
        with:
          repository: hazelcast/private-test-artifacts
          path: certs
          ref: data
          token: ${{ secrets.GH_PAT }}

      - name: "Check certs"
        if: ${{ matrix.kind == 'enterprise' }}
        working-directory: certs
        run: |
          ls -l
          echo "dir .."
          ls -l ..
          

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Read Java Config
        run: cat ${GITHUB_WORKSPACE}/.github/java-config.env >> $GITHUB_ENV

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}

      - name: Checkout to master
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.inputs.organization_name }}/hazelcast-python-client
          path: master
          ref: master

      - name: Checkout to ${{ github.event.inputs.branch_name }}
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.inputs.organization_name }}/hazelcast-python-client
          path: client
          ref: ${{ github.event.inputs.branch_name }}

      - name: Copy the client code into master
        run: |
          rm -rf $GITHUB_WORKSPACE/master/hazelcast
          cp -a $GITHUB_WORKSPACE/client/hazelcast $GITHUB_WORKSPACE/master/hazelcast

      - name: Create the test jar with certificates
        if: ${{ matrix.kind == 'enterprise' }}
        working-directory: certs
        run: |
          echo "HERE: $PWD"
          ls
          echo "dir .."
          ls ..
          zip -r -j certs.jar $GITHUB_WORKSPACE/master/tests/integration/backward_compatible/ssl_tests/hostname_verification/*.p12
          cp certs.jar ../hazelcast-enterprise-${{ matrix.version }}-tests.jar            

#      - name: Download RCD Linux
#        shell: bash
#        run: |
#          echo "PWD: $PWD"
#          echo "ROOT_FOLDER: ${{ steps.get-root-folder.outputs.ROOT_FOLDER }}"
#          wget https://client-rcd-download.s3.us-east-2.amazonaws.com/rcd-ubuntu-latest
#      - name: Copy certificates JAR to destination with the appropriate name
#        if: ${{ matrix.kind == 'enterprise' }}
#        run: |
#          echo "GIHUB WORKSPACE"
#          ls $GITHUB_WORKSPACE
#          ls $GITHUB_WORKSPACE/certs
#          cp $GITHUB_WORKSPACE/certs/certs.jar $GITHUB_WORKSPACE/hazelcast-enterprise-${{ matrix.version }}-tests.jar
#          unzip -p $GITHUB_WORKSPACE/certs/certs.jar com/hazelcast/nio/ssl/letsencrypt.jks > master/tests/integration/backward_compatible/ssl_tests/keystore.jks
#      - name: Start Hazelcast Remote Controller Linux
#        env:
#          HZ_VERSION: ${{ matrix.version }}
#          HAZELCAST_ENTERPRISE_KEY: ${{ secrets[steps.get-enterprise-license.outputs.HAZELCAST_ENTERPRISE_KEY_SECRET] }}
#        shell: bash
#        run: |
#          echo "HERE: $(pwd)"
#          ls
#          chmod +x rcd-ubuntu-latest
#          ./rcd-ubuntu-latest -version $HZ_VERSION &
#          sleep 10

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-test.txt
        working-directory: master
      - uses: ./.github/actions/get-enterprise-license
        id: get-enterprise-license
        with:
          hazelcast-version: ${{ matrix.version }}

      - name: Convert major.minor version to semver
        id: generate-semver
        run: |
          # `semver-utils` expects a fully qualified semver, but some older Python clients were major.minor (e.g. `v5.0`) which was unsupported
          # In those cases, convert major.minor (e.g. `v5.0`) -> major.minor.patch (e.g. `v.5.0.0`)
          VERSION="${{ github.event.inputs.branch_name }}"
          if [[ "$VERSION" =~ ^v[0-9]+\.[0-9]+$ ]]; then
            VERSION="${VERSION}.0"
          fi
          echo "version=${VERSION}" >> "${GITHUB_OUTPUT}"

      # https://github.com/madhead/semver-utils/releases/tag/v4.3.0
      - uses: madhead/semver-utils@36d1e0ed361bd7b4b77665de8093092eaeabe6ba
        id: client-version
        with:
          version: ${{ steps.generate-semver.outputs.version }}
          compare-to: 5.5.0

      - name: Download RCD
        shell: bash
        run: |
          wget -q https://client-rcd-download.s3.us-east-2.amazonaws.com/rcd-ubuntu-latest

      - name: Run tests
        env:
          HZ_VERSION: ${{ matrix.version }}
          HAZELCAST_ENTERPRISE_KEY: ${{ secrets[steps.get-enterprise-license.outputs.HAZELCAST_ENTERPRISE_KEY_SECRET] }}
        run: |
          echo "HERE: $(pwd)"
          ls master
          chmod +x rcd-ubuntu-latest 
          ./rcd-ubuntu-latest -version $HZ_VERSION &
          # wait for a bit for RCD to download artifacts
          sleep 10
          
          args=(--verbose)
          if [ "${{ matrix.kind }}" = "os" ]; then
            args+=(-m "not enterprise")
          fi
          if [[ "${{ steps.client-version.outputs.comparison-result }}" = "<" ]]; then
            # Workaround https://github.com/hazelcast/hazelcast-python-client/issues/666 by skipping those tests
            args+=(--ignore master/tests/integration/backward_compatible/predicate_test.py)
            args+=(--ignore master/tests/integration/asyncio/predicate_test.py)
          fi
          #pytest master/tests/integration/asyncio master/tests/integration/backward_compatible "${args[@]}"
          pytest master/tests/integration -k ssl "${args[@]}"
